:host,
.xyz-container {
    height: 100%;
}
.xyz-container {
    margin-bottom: -2.5rem;
}
.xyz-push {
    height: 2.5rem;
}
.xyz-social {
    bottom: 40%;
    position: absolute;
    right: 10px;
}
.page-container {
    padding-top: 4rem;
    margin: 0 auto;
    width: 70vw;
}
footer {
    color: rgb(33, 0, 75);
    height: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

@media (max-width: 1024px){
    .page-container {
        width: 85vw;
    }    
} 
@media (max-width: 700px){
    .page-container {
        width: 70vw;
    }
    .xyz-social {
        right: 0;
    }
}