logs
*.log
*-debug.log
*-error.log
/dist
node_modules
jsconfig.json
/tmp
/coverage
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
jest.config.js
lwc-services.config.js
package-lock.json
package.json