.xyz-nav {
    background: #222;
    width: 120px;
    height: 100%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}
.xyz-nav-mobile {
    background-color: rgba(0, 0 ,0 , 0.2);
    height: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
a {
    color: #FFF;
    border: none;
    outline: 0;
    text-align: center;
}
.xyz-nav a {
    display: block;
    line-height: 4rem;
    width: 100%;
}
.xyz-nav-mobile a {
    display: inline-block;
    line-height: 2rem;
    width: 33%
}

a:hover {
    color: rgb(111, 0, 255);
    cursor: pointer;
    text-decoration: none;
}
a.active {
    color: rgb(111, 0, 255);
}
img{
    padding-top: 2rem;
    padding-bottom: 2rem;
}