header {
    text-align: center !important;
}
.sub-heading {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    padding-top: 1rem;
    width: 100%;
}
h1 {
    font-size: 64px !important;
    margin: 0;
}

img {
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
}
p {
    color: #888;
}
a {
    color: rgb(111, 0, 255);
    text-decoration: none;
}
footer {
    color: #888;
    font-size: 0.9rem;
    font-style: italic;
    padding-top: 4rem;
}
